:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);
  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-x-bold: 900;
}

/* reset from Kevin Powell edit if you like */
/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
}

/* for container queries, landmarks as containers */
body> :is(header, footer),
main {
  container-type: inline-size;
}

/* Theme */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Utilities */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Composition */
.flow>*+* {
  margin-block-start: var(--flow-space, 1em);
}

/* Global/base */
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h1,
h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

.center {
  text-align: center;
}

.logo {
  padding: 10px;
  display: flex;
  align-items: center;

  a {
    margin-left: 20px;
  }
}

#topmenu,
#bottommenu {
  display: none;

  ul {
    list-style: none;

    a {
      font-weight: bold;
    }
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
  display: grid;
}

header {
  position: relative;
  background-color: var(--clr-primary-light-1);
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;

  .burger {
    anchor-name: --burgera;
    border: 0;
    background-color: inherit;
  }

  .popmenu {
    position: absolute;
    position-anchor: --burgera;
    inset: auto;
    top: anchor(bottom);
    right: anchor(right);
    background-color: var(--clr-accent);
    border: 0;
    border-radius: 10%;
    margin: 5px 0;
    padding: 10px;
    text-align: start;

    li {
      padding: 5px 0;
    }

    a {
      color: var(--clr-primary-light-1);
    }

    &:popover-open {
      display: grid;
    }
  }


  #topmenu {
    height: 100%;

    ul {
      height: 100%;
      display: flex;
      justify-content: space-betweens;

      li {
        height: 100%;
        display: flex;

        a {
          font-size: large;
          height: 100%;
          padding: 0 20px;
          display: flex;
          align-items: center;
        }

        &:hover {
          background-color: var(--clr-accent);

          a {
            color: var(--clr-primary-light-1);
          }
        }
      }
    }
  }
}

main {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  gap: 20px;

  .popular {
    display: grid;
    justify-items: center;
    gap: 1rem;
    margin: 0 2rem;

    .popularimages {
      background-color: var(--clr-primary-light-1);
      padding: 20px;
      display: grid;
      grid-template-columns: 200px;

      >img {
        width: 100%;
        height: 100%;
        transition: scale 300ms linear, opacity 300ms linear;

        &:hover {
          @media (prefers-reduced-motion: no-preference) {
            scale: 1.1;
          }
        }
      }

      &:has(img:hover) img:not(:hover) {
        @media (prefers-reduced-motion: no-preference) {
          scale: 0.9;
          opacity: 0.7;
        }
      }

      @media (width > 500px) {
        grid-template-columns: 200px 200px;
      }

      @media (width > 750px) {
        grid-template-areas:
          "a a b c d d"
          "a a e e f f";
        grid-template-columns: repeat(6, 100px);
        grid-template-rows: 200px 200px;

        .pop1 {
          grid-area: a;
        }

        .pop2 {
          grid-area: b;
        }

        .pop3 {
          grid-area: c;
        }

        .pop4 {
          grid-area: d;
        }

        .pop5 {
          grid-area: e;
        }

        .pop6 {
          grid-area: f;
        }
      }
    }
  }

  .newsletter {
    background-color: var(--clr-primary-light-1);
    width: 100%;
    margin: 0;
    padding: 40px 20px;
    display: grid;
    justify-content: center;
    justify-items: center;

    .planting {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      margin-left: 60px;
      background-color: var(--clr-accent);
      direction: ltr;

      img {
        position: relative;
        width: 100px;
        left: 50px;
        top: 50px;
      }
    }

    .signup {
      direction: ltr;
      padding-top: 20px;
      display: grid;
      justify-items: center;

      h2 {
        text-align: center;
        padding-left: 15px;
      }

      form>div {
        border: 1px solid;
        border-top-left-radius: 7% 50%;
        border-bottom-left-radius: 7% 50%;
        border-top-right-radius: 7% 50%;
        border-bottom-right-radius: 7% 50%;
        margin: 1em 0;

        [type=email] {
          border: 0;
          margin: 0 0em 0 1em;
          width: 15em;
        }

        [type=submit] {
          padding: 0.3em 1em;
          margin: 2px 3px;
        }
      }
    }

    @media (width > 800px) {
      grid-template-columns: auto auto;
      direction: rtl;

      .signup {
        width: 25em;

        h2 {
          text-align: left;
        }
      }
    }
  }

  .cards {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 300px;
    gap: 0.6rem;

    @media (width > 650px) {
      grid-template-columns: 300px 300px;
    }

    @media (width > 1000px) {
      grid-template-columns: 300px 300px 300px;
    }

    @media (width > 1350px) {
      grid-template-columns: 300px 300px 300px 300px;
    }

    .card {
      position: relative;
      display: grid;
      align-content: start;
      grid-auto-rows: auto auto auto auto 1fr;
      background-color: var(--clr-primary-light-1);
      padding: 1rem;
      width: 300px;

      .cardimg {
        width: 260px;
        height: 200px;
      }

      .cardseed {
        position: absolute;
        width: 150px;
        height: 100px;
        top: 75px;
        left: 70px;
        opacity: 0.5;
      }

      .tags {
        padding: 10px 0 8px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .tag {
          color: var(--clr-primary-light-1);
          font-size: 0.9rem;
          font-weight: bold;
          padding: 0.2em 0.9em;
          border-radius: 20% 20% 20% 20% / 50% 50% 50% 50%;
        }

        .tag-red {
          background-color: #a00;
        }

        .tag-orange {
          background-color: #960;
        }

        .tag-green {
          background-color: green;
        }

        .tag-blue {
          background-color: blue;
        }

        .tag-purple {
          background-color: #509;
        }

        .tag-violet {
          background-color: #92c;
        }

        .tag-bluegreen {
          background-color: #059;
        }
      }

      h3 {
        padding-bottom: 10px;
      }

      .card-footer {
        align-self: self-end;
        display: flex;
        justify-content: start;
        background-color: var(--clr-primary-light-1);
        color: var(--clr-primary-dark);
        padding: 10px 0 0 0;

        img {
          width: 80px;
        }

        .card-footer-r {
          display: grid;
          align-content: center;
          padding-left: 10px;
          gap: 0;

          .card-footer-name {
            font-weight: bold;
          }
        }
      }
    }
  }

  .previous {
    background-color: var(--clr-primary-light-1);
    padding: 50px 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 20px;

    .plant {
      background-color: var(--clr-accent);
      border-radius: 50%;
      width: 200px;
      height: 200px;
      margin-right: 40px;

      img {
        position: relative;
        width: 80px;
        left: 60px;
        top: 40px;
      }
    }

    h2 {
      padding: 20px 0 10px 0;
    }

    .prevtxt {
      display: grid;
      justify-items: center;

      p {
        text-align: center;
      }

      input {
        justify-self: flex-end;
        padding: 8px 12px;
        margin: 10px 0;
      }
    }

    @media (width > 800px) {
      grid-template-columns: 200px 500px;

      .prevtxt {
        justify-items: flex-start;

        p {
          text-align: left;
        }
      }
    }
  }
}

footer {
  background-color: var(--clr-accent);
  color: var(--clr-primary-light-1);
  padding: 40px 20px;
  display: grid;
  grid-template-columns: auto min-content;
  justify-content: space-around;

  a {
    color: var(--clr-primary-light-1);
    font-weight: bold;
  }

  .footer-left {
    max-width: 400px;
    display: grid;
    gap: 20px;

    div {
      font-weight: bold;

      img {
        display: inline;
        padding-right: 10px;
      }

      h2 {
        color: var(--clr-primary-light-1);
      }
    }
  }

  ul {
    margin: 0 20px 0 40px;

    li {
      margin-bottom: 20px;
    }
  }
}

/* Utility class for all green buttons */
.btn-ani {
  background-color: var(--clr-accent);
  color: var(--clr-primary-light-1);
  border-top-left-radius: 20px 50%;
  border-bottom-left-radius: 20px 50%;
  border-top-right-radius: 20px 50%;
  border-bottom-right-radius: 20px 50%;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--clr-accent-light-1);
    color: var(--clr-primary-dark);
    cursor: pointer;
  }
}

/* Show/hide top, burger and bottom menus */
@media (width > 850px) {

  #topmenu,
  #bottommenu {
    display: inline;
  }

  .burger {
    display: none;
  }
}